<div id="container-contact">
    <div style="text-align: center;">
        <h1 id="title-Contact">Contact</h1>
        <div class="container-form">
            <div class="container-form">
                <div class="container-group-input">
                    <div class="container-input">
                        <span class="label-medium">Name</span>
                        <input class="textInput" type="text" placeholder="Enter your name" required>
                    </div>

                    <div class="container-input">
                        <span class="label-medium">Last Name</span>
                        <input class="textInput" type="text" placeholder="Enter your last name" required>
                    </div>
                </div>

                <div class="container-group-input">
                    <div class="container-input">
                        <span class="label-medium">Phone number</span>
                        <input class="textInput" type="text" placeholder="+1 (416) 555-7890" required>
                    </div>

                    <div class="container-input">
                        <span class="label-medium">E-mail</span>
                        <input class="textInput" type="email" placeholder="Enter your E-mail" required>
                    </div>
                </div>

                <div class="label-large">
                    <span class="label-medium">Subject</span>
                    <input class="textInput-large" type="text" placeholder="Enter your subject">
                </div>

                <div class="label-large">
                    <span class="label-medium">Message</span>
                    <textarea class="textAreaInput" rows="5" cols="50"></textarea>
                </div>
            </div>
            <div id="button-div">
                <button >Send!</button>
            </div>
        </div>
    </div>
</div>