@{
    ViewData["Title"] = "Home Page";
}

<div id="container-SVG">
    <div id="row-SVG">
        <div class="position-SVG">
            <center>
                <img id="clock-SVG" src="https://www.1800gotjunk.com/sites/default/files/clock.svg" alt="" />
            </center>
            <div class="container-text-SVG">
                <center>
                    <span class ="text-SVG">We’ll be in and out in no time so</span>
                    <span class ="text-SVG" class ="text-SVG">you can get on with your day.</span>
                </center>
            </div>
        </div>

        <div class="position-SVG">
            <center>
                <img id="estimate-SVG" src="https://www.1800gotjunk.com/sites/default/files/estimate_0.svg" alt="" />
            </center>
            <div class="container-text-SVG">
                <center>
                    <span class ="text-SVG">Free onsite estimates with all inclusive pricing.</span>
                    <span class ="text-SVG"> No hidden fees.</span>
                </center>
            </div>
        </div>

        <div class="position-SVG">
            <center>
                <img id="truck-SVG" src="https://www.1800gotjunk.com/sites/default/files/truck.svg" alt="" />
            </center>
            <div class="container-text-SVG">
                <center>
                    <span class ="text-SVG">We offer same-day service! We’re</span>
                    <span class ="text-SVG">already on our way!</span>
                </center>
            </div>
        </div>

        <div class="position-SVG">
            <center>
                <img id="hat-SVG" src="https://www.1800gotjunk.com/sites/default/files/hat.svg" alt="" />
            </center>
            <div class="container-text-SVG">
                <center>
                    <span class ="text-SVG">Our friendly, professional teams</span>
                    <span class ="text-SVG">do all the heavy lifting. </span>
                </center>
            </div>
        </div>
    </div>
</div>

<div id="container-information">
    <p>
        <iframe id="map-canvas" class="map_part" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=92 Davidson St&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">Powered by <a href="https://www.googlemapsgenerator.com">html embed google maps</a> and <a href="https://casino-without-swedish-license.se/">casino without swedish license</a></iframe>
    </p>
    <div id="general-information">
        <div style="text-align: center">
            <h1>
                GreenWave Disposal
            </h1>

            <h5>
                We Make Junk Disappear.
            </h5>

            <span class="panel-information">Phone number: +1 (416) 555-7890</span><br />
            <span class="panel-information">Address: 92 Davidson St,</span><br />
            <span class="panel-information">Barrie, ON L4M 4Y6</span>
        </div>
        <br />
        <div id="panel-schedule">
            <div class="details">
                <span class="panel-information-schedule-day">Monday: </span>
                <span class="panel-information-schedule-day">Tuesday: </span>
                <span class="panel-information-schedule-day">Wednesday: </span>
                <span class="panel-information-schedule-day">Thursday: </span>
                <span class="panel-information-schedule-day">Friday: </span>
                <span class="panel-information-schedule-day">Saturday: </span>
                <span class="panel-information-schedule-day">Sunday: </span>
            </div>

            <div class="details">
                <span class="panel-information-schedule-Hour">9:00 AM - 5:00 PM</span>
                <span class="panel-information-schedule-Hour">9:00 AM - 5:00 PM</span>
                <span class="panel-information-schedule-Hour">9:00 AM - 5:00 PM</span>
                <span class="panel-information-schedule-Hour">9:00 AM - 5:00 PM</span>
                <span class="panel-information-schedule-Hour">9:00 AM - 5:00 PM</span>
                <span class="panel-information-schedule-Hour">9:00 AM - 5:00 PM</span>
                <span class="panel-information-schedule-Hour">Closed</span>
            </div>
        </div>
    </div>
</div>

<div id="subTitle">
    <h1>Effortless Waste Management with GreenWave Disposal: </h1>
    <h5>Your Clean, Hassle-Free Solution</h5>
</div>

<div id="container-services">
    <div class="services">
        <div id="first-service">
            <img src="https://ulloaperu.com/wp-content/uploads/2016/04/ulloa-servicio-recoleccion-01.jpg" alt="Avatar" class="image">
            <div class="middle">
                <div class="text">Don't waste another minute. Let GreenWave Disposal take care of your junk problems. Call us today and reclaim your time!</div>
            </div>
        </div>
    </div>

    <div class="services">
        <div id="second-service">
            <img src="https://ulloaperu.com/wp-content/uploads/2016/04/ulloa-servicio-recoleccion-02.jpg" alt="Avatar" class="image">
            <div class="middle">
                <div class="text">GreenWave Disposal is here to make your waste disappear. Contact us now and see the difference!</div>
            </div>
        </div>
    </div>

    <div class="services">
        <div id="third-service">
            <img src="https://ulloaperu.com/wp-content/uploads/2016/04/ulloa-servicio-recoleccion-03.jpg" alt="Avatar" class="image">
            <div class="middle">
                <div class="text">GreenWave Disposal offers reliable and efficient waste removal services. Reach out to us today for a cleaner tomorrow!</div>
            </div>
        </div>
    </div>
</div>