@model IEnumerable<waste_management_system.Models.UserProfile>

<div id="create-panel-Title">
    <h1>WELCOME [Name User]!</h1>
    <hr />
</div>


<div style="display: flex; flex-direction: column; align-items: center;">
    <div style="display: flex; flex-direction: column; align-items: center">
        <img style="margin-bottom: 5%; border-radius: 200px; width: 60%" src="~/img/User/Avatar/Men-profile.jpg" alt="" />
        <h3 id="list-SubTitle">Representative of [Company Name]</h3>
    </div>
    <br />
    <div style="display: flex; flex-direction: row;">
        <span style="align-content: center; width: 150px;">Address:</span>
        <input class="update-input" placeholder="144 Bell Farm RdBarrie, ON L4M 5K5"/>
    </div>
    <br />
    <div style="display: flex; flex-direction: row;">
        <span style="align-content: center; width: 150px;">Email:</span>
        <input class="update-input" placeholder="info@greentechsolutions.com"/>
    </div>
    <br />
    <div style="display: flex; flex-direction: row;">
        <span style="align-content: center; width: 150px;">Phone Number:</span>
        <input class="update-input" placeholder="+1(604)123-4567"/>
    </div>
    <br />
    <div style="display: flex; flex-direction: row; justify-content:space-between">
        <span style="align-content: center; width: 150px;">Status Account:</span>
        <input class="update-input" placeholder="Client"/>
    </div>

    <br />
    <br />

    <div style="display: flex; flex-direction: row; justify-content:space-between">
        <button style="width: 200px; margin-right: 15px;">Update Account!</button>
        <button style="width: 200px; margin-left: 15px">Delete Account!</button>
    </div>
</div>